.ec-slide-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 65vh !important;
}

.custom-design .img-draggable {
    cursor: move;
    position: absolute;
}

.custom-design .selected {
    border: 2px solid blue;
}

.custom-design #canvas {
    width: 400px;
    height: 500px;
    border: 1px solid #ccc;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.custom-design #canvas img,
.custom-design #canvas .designPreview,
.custom-design #canvas .customTextPreview {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-design .d-none {
    display: none;
}

.custom-design .zoomable {
    transform-origin: center center;
    transition: transform 0.2s;
}


.custom-design #zoomController {
    background: rgba(255, 255, 255, 0.8);
    padding: 5px 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    position: absolute;
    bottom: 70px !important;
    left: 50% !important;
    transform: translateX(-50%);
    height: 45px;
    width: 250px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.custom-design #zoomRange {
    width: 150px;
}


.custom-design img {
    width: 100%;
}

.custom-design .tshirt-option-container .tshirt-option,
.custom-design .design-option-container .design-option {
    border: 1px solid #CED4DA;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.custom-design .active .tshirt-option,
.custom-design .active .design-option {
    border: 2px solid #008f18;
}

/* Adjust the appearance of the text editor */
.tox-editor-header {
    background-color: #f8f9fa;
    /* Light gray background for the header */
}

.tox-toolbar {
    border-radius: 5px;
    /* Rounded corners for toolbar */
    border: 1px solid #ccc;
    /* Light border for the toolbar */
}

.tox-statusbar {
    display: none;
    /* Hide the status bar */
}



/* text editor */
/* Text Editor Styles */

#editor {
    width: 100%;
    height: 300px;
    width: 100%;
    height: 300px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    white-space: pre-wrap;
    overflow-wrap: break-word;
    background-color: #fff;
    color: #000;

    margin-bottom: 20px;
}

/* Toolbar Styles */
.toolbar {
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: flex-start;
}

.toolbar .btn-group {
    display: flex;
    gap: .5rem;
    align-items: center;
}

.toolbar input {
    margin: 0 !important;
}

.toolbar button,
.toolbar select,
.toolbar input[type="color"] {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toolbar button:hover,
.toolbar select:hover,
.toolbar input[type="color"]:hover {
    background-color: #f1f1f1;
}

.toolbar button:focus,
.toolbar select:focus,
.toolbar input[type="color"]:focus {
    outline: none;
    border-color: #0056b3;
}


/* Button-specific styles */
.toolbar button {
    font-weight: bold;
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.toolbar button:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.toolbar select {
    width: 150px;
    padding: 5px;
}

.toolbar input[type="color"] {
    width: 40px;
    height: 40px;
    padding: 0;
    cursor: pointer;
}

/* Tooltip for color picker */
.toolbar input[type="color"]:hover::after {
    content: "Select Color";
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
}


.toolbar .color-picker {
    display: flex;
    flex-direction: column;

    align-items: center;
    border: 1px solid #ededed;
    padding: 2px;
}

.toolbar .color-picker label {
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
}

.toolbar .color-picker input {
    width: 100%;
    /* Size of the color picker */
    height: 30px;
    border: 1px solid #ccc;
    /* Border around the color picker */
    cursor: pointer;
}

/* Optional: Add a different style for background color */
.toolbar #backgroundColor {
    border-color: #8c8c8c;
    /* Darker border for background color picker */
}



/* Responsive Styles */
@media (max-width: 600px) {
    .toolbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toolbar select {
        width: 100%;
        margin-bottom: 10px;
    }
}


/* check box */
.ec-sidebar-block-item label {
    margin: 0;
    margin-left: 30px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    cursor: pointer;
}

.hidden-input {
    display: none;
}

.radio-button label {
    margin: 0;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.empty-cart img {
    width: 150px;
}

.empty-cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.empty-cart-page img {
    width: 300px;
}

.empty-cart-page p {
    font-size: 24px;
    font-weight: 600;
}


/* wishlist button */

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
    padding: 50px 0;
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    font-weight: 600;
    /* margin-bottom: 20px; */
    color: #EF7524;
}


/* text editor */
.image-loader {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.text-editor {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
}

.text-editor .section-title {
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.text-editor .form-group {
    margin-bottom: 15px;
}

.text-editor label {
    font-size: 0.9rem;
    font-weight: 600;
    color: #555;
    display: block;
    margin-bottom: 5px;
}

.text-editor .input-text,
.text-editor .select-box {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
    height: 40px;
}

.text-editor .input-text:focus,
.text-editor .select-box:focus {
    border-color: #007BFF;
    outline: none;
}

.text-editor .btn-action {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 0.9rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.text-editor .btn-action i {
    margin-right: 6px;
}

.text-editor .btn-action:hover {
    background-color: #0056b3;
}

.text-editor .btn-add {
    background-color: #28a745;
}

.text-editor .btn-add:hover {
    background-color: #218838;
}

.text-editor .btn-remove {
    background-color: #dc3545;
}

.text-editor .btn-remove:hover {
    background-color: #c82333;
}

.text-editor .alignment-btns {
    display: flex;
    justify-content: space-between;
}

/* Select Input Styling */
/* Select Input Styling */
.text-editor .select-box {
    width: 100%;
    padding: 7px 40px 7px 10px;
    /* Add padding to make space for the arrow */
    font-size: 1rem;
    border: 1px solid #ddd !important;
    border-radius: 6px;
    box-sizing: border-box;
    background-color: #fff;
    appearance: none;
    /* Remove default select styling */
    -webkit-appearance: none;
    /* For Safari */
    -moz-appearance: none;
    /* For Firefox */
    position: relative;
    /* Allow positioning of the arrow */
}

/* Custom Arrow */
.text-editor .select-box::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333;
    /* Arrow color */
    pointer-events: none;
    /* Prevent interaction with the arrow */
}

/* Add background color to the select element */
.text-editor .select-box {
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12 12"%3E%3Cpolygon points="3,4 6,7 9,4" fill="%23333"/%3E%3C/svg%3E') no-repeat right 10px center;
    background-size: 20px;
}

/* Option Styling */
.text-editor .select-box option {
    padding: 10px;
    font-size: 1rem;
    background-color: #fff;
    color: #333;
    border: none;
}

.text-editor .select-box option:hover {
    background-color: #f0f0f0;
    color: #007BFF;
}


/* tshirt custom design page */
.t-shirts {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}


.canvas-container {
    width: 100%;
    max-width: 100%;
    height: auto;
    position: relative;
}